$colorButtons: #56af69;
$colorContent: #0e0e0e;
$colorWhite: #fff;
$colorRed: #f34a38;
$colorBlue: #0071c2;

$fontMain: "InterRegular", sans-serif;
$fontAdditional: "InterLight", sans-serif;
$fontBold: "InterMedium", sans-serif;
$fontSizeContent: 16px;
