@import "scss/core/mixins";
@import "scss/core/vars";

.buttonForm {
  @include styleForText($fontSizeContent, $fontMain, $colorButtons);

  border: 1px solid $colorButtons;
  border-radius: 8px;
  width: 100%;
  padding: 17px 0 16px;
}

.buttonFormActive {
  background: $colorButtons;
  color: $colorWhite;
}

.buttonBlack {
  color: $colorWhite;
  background: $colorContent;
}

.buttonGrey {
  background: $colorBackground;
}
