@import "scss/core/mixins";
@import "scss/core/vars";

.loginPopup {
  padding: 52px 70px 50px;
}

.loginTitle {
  margin-bottom: 40px;
}

.loginForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputWrapper {
  width: 398px;
}

.loginSubmit {
  margin-top: 20px;
}
